@if ((categories$ | async) && items) {
  <div class="shop">
    <div class="container">
      <div class="shop__layout">
        <shop-sidebar [categories$]="categories$"/>

        <div class="main_section">
          <shop-sorting-tab/>
          <shop-content-section
            [items]="items.content"
            [pagination]="pagination"
            (increasePageSize)="loadMoreElements()"/>
        </div>

      </div>
    </div>
  </div>
} @else {
  <app-loader class="loader-placeholder"/>
}
