@if (items()) {
  <div class="shop"
       infiniteScroll
       [endReached]="pagination().isLastPage"
       (nearEnd)="loadMoreElements()">
    <div class="container">
      <div class="shop__layout">
        <div class="shop__sidebar">
          <shop-sidebar/>
          <app-price-range-selector/>
        </div>

        <div class="main_section">

          @if (items().length > 0) {
            <shop-sorting-tab/>
          }

          <shop-content-section
            [items]="items()"
            [pagination]="pagination()"
            (increasePageSize)="loadMoreElements()"/>
        </div>

      </div>
    </div>
  </div>
} @else {
  <app-loader class="loader-placeholder"/>
}
