@use "colors";
@use "typography";

.price-range {
  border: 1px solid colors.$neutral-light-grey;
  display: grid;
  gap: 3.2rem;
  padding: 2.4rem;

  &__title {
    @extend .font-size-regular;
    color: colors.$primary;
    @extend .font-semi-bold;
  }

  &__form {
    display: grid;
    gap: 3.2rem;
  }

  &__range {
    align-items: center;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 5fr 1fr 5fr;
    text-align: center;
  }

  &__input-box {
    border: 1px solid colors.$neutral-light-grey;

    input {
      display: inline-block;
      padding: 1.2rem;
      text-align: center;
      width: 100%;

      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  &__slider {
    display: grid;

    &__controls {
      position: relative;
    }

    &__track {
      height: 2px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }

  &__input {
    width: 100%;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button,
    &[type=number] {
      -moz-appearance: textfield;
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=range] {
      -webkit-appearance: none;
      appearance: none;
      height: 0;
      pointer-events: none;
      position: absolute;
      z-index: 2;

      &::-webkit-slider-thumb {
        $slider-thumb-size: 24px;

        -webkit-appearance: none;
        background-color: colors.$primary;
        border: 5px solid colors.$white;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;
        height: $slider-thumb-size;
        pointer-events: all;
        width: $slider-thumb-size;
      }
    }

    &[type=number] {
      border: none;
      color: colors.$neutral-dark;
      font-size: 1.4rem;
      height: 30px;
      width: 50px;
    }
  }
}
