@use "colors";
@use "typography";

.price-range {
  border: 1px solid colors.$neutral-light-grey;
  display: grid;
  gap: 3.2rem;
  padding: 2.4rem;

  &__title {
    @extend .font-size-regular;
    color: colors.$primary;
    @extend .font-semi-bold;
  }

  &__form {
    display: grid;
    gap: 3.2rem;
  }

  &__range {
    align-items: center;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 5fr 1fr 5fr;
    text-align: center;
  }

  &__input-box {
    border: 1px solid colors.$neutral-light-grey;

    input {
      display: inline-block;
      padding: 1.2rem;
      text-align: center;
      width: 100%;

      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  &__input {
    width: 100%;

    &[type=number] {
      -moz-appearance: textfield;
      appearance: none;
      border: none;
      color: colors.$neutral-dark;
      font-size: 1.4rem;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.mat-ripple.mat-mdc-focus-indicator {
  display: none;
}
