<div class="price-range">
  <h2 class="price-range__title">Price Range</h2>

  <form [formGroup]="form" class="price-range__form">
    <div class="price-range__range">
      <div class="price-range__input-box">
        <label for="starting"></label>
        <input [formControl]="form.controls.minPrice"
               class="price-range__input"
               id="starting"
               placeholder="$100"
               type="number">
      </div>

      <span>-</span>

      <div class="price-range__input-box">
        <label for="ending"></label>
        <input [formControl]="form.controls.maxPrice"
               class="price-range__input"
               id="ending"
               placeholder="+$1,000"
               type="number">
      </div>

    </div>

    @defer (when priceRangeInitialized) {
      <mat-slider
        [min]="priceRangeLimit().minPrice"
        [max]="priceRangeLimit().maxPrice">
        <input matSliderStartThumb [formControl]="form.controls.minPrice">
        <input matSliderEndThumb [formControl]="form.controls.maxPrice">
      </mat-slider>
    }
  </form>
</div>
