@if (categoryService.categories();as categories) {
  <div class="form-categories">
    <categories-dropdown
      (showDropdownEvent)="showDropdownMenu(type.Category)"
      (hideDropdownEvent)="hideDropdownMenu(type.Category)"
      (selectionEvent)="propagateCategorySelection(type.Category, $event); hideDropdownMenu(type.Category)"
      [label]="activeCategory === '' ? 'Select Category' : activeCategory"
      [isActive]="dropdown[type.Category]"
      [content]="categories"
      [isValid]="categoryValid"/>

    <categories-dropdown
      (showDropdownEvent)="showDropdownMenu(type.Subcategory)"
      (hideDropdownEvent)="hideDropdownMenu(type.Subcategory)"
      (selectionEvent)="propagateCategorySelection(type.Subcategory, $event); hideDropdownMenu(type.Subcategory)"
      [label]="activeSubcategory === '' ? 'Select Subcategory' : activeSubcategory"
      [isActive]="dropdown[type.Subcategory]"
      [content]="categoryMap.get(activeCategory)!"
      [isValid]="subcategoryValid"/>
  </div>
}
