@import "colors";
@import "typography";

.input-field {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &__label {
    color: $neutral-dark;
    @extend .font-semi-bold;
  }

  &__input {
    border: 1px solid $neutral-light-grey;
    padding: 1.6rem;

    &::placeholder {
      color: $neutral-grey;
    }

    &:focus {
      border: 1px solid $primary;
    }
  }
}

.invalid {
  border: 1px solid $error;
}
