<form-wrapper formSubject="Set prices">

  <form-field-wrapper>
    <app-form-start-price
      [formFieldGroup]="setPriceDateFormService.form"
      [isValid]="setPriceDateFormService.getValidationStatus(PriceValidation.Price).valid"
      formField="price"/>

    <app-validation-message
      *ngIf="!setPriceDateFormService.getValidationStatus(PriceValidation.Price).valid"
      [message]="setPriceDateFormService.getValidationStatus(PriceValidation.Price).message"/>
  </form-field-wrapper>

  <div class="form__dates">
    <div class="form__dates--layout">
      <form-field-wrapper>
        <add-item-form-date-time-selector
          fieldLabel="Start date"
          (submitEvent)="submitDateTimeEvent($event, DateTimeForm.StartTime)"
          [validField]="setPriceDateFormService.getValidationStatus(PriceValidation.StartDateTime).valid"/>

        <app-validation-message
          *ngIf="!setPriceDateFormService.getValidationStatus(PriceValidation.StartDateTime).valid"
          [message]="setPriceDateFormService.getValidationStatus(PriceValidation.StartDateTime).message"/>
      </form-field-wrapper>

      <form-field-wrapper>
        <add-item-form-date-time-selector
          (submitEvent)="submitDateTimeEvent($event, DateTimeForm.EndTime)"
          fieldLabel="End date"
          [validField]="setPriceDateFormService.getValidationStatus(PriceValidation.EndDateTime).valid"/>

        <app-validation-message
          *ngIf="!setPriceDateFormService.getValidationStatus(PriceValidation.EndDateTime).valid"
          [message]="setPriceDateFormService.getValidationStatus(PriceValidation.EndDateTime).message"/>
      </form-field-wrapper>
    </div>

    @if (setPriceDateFormService.getValidationStatus(PriceValidation.StartDateTime).valid
        && setPriceDateFormService.getValidationStatus(PriceValidation.EndDateTime).valid) {
      <app-validation-message
        *ngIf="!setPriceDateFormService.getValidationStatus(PriceValidation.FullDateTime).valid"
        [message]="setPriceDateFormService.getValidationStatus(PriceValidation.FullDateTime).message"/>
    }

    <p class="form__dates__notice">
      The auction will be automatically closed when the end time comes.
      The highest bid will win the auction.
    </p>
  </div>

  <div class="form__navigation">
    <button (click)="cancelFormEvent()" class="btn--cancel">Cancel</button>

    <div class="form__navigation__forward">
      <button (click)="goBackEvent()" class="btn--back">Back</button>
      <button (click)="submitFormEvent()" class="btn--next">Next</button>
    </div>
  </div>

</form-wrapper>
