@use "colors";
@use "buttons";

.form {
  &__dates {
    display: grid;
    gap: 1.2rem;

    &--layout {
      display: grid;
      gap: 2.4rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &__notice {
      color: colors.$neutral-grey;
      font-size: 1.4rem;
    }
  }

  &__navigation {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    margin-top: 2.4rem;

    &__forward {
      display: grid;
      gap: 1.2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.btn--cancel {
  @include buttons.tertiary-btn;
}

.btn--back {
  @include buttons.secondary-btn;
}

.btn--next {
  @include buttons.primary-btn;
 }
