<div class="dropdown" (clickOutside)="hideDropdownMenu()">


  <a class="dropdown__active-section" (click)="toggleDropdownMenu()">
    {{ activeOrder.label }}
    <img ngSrc="assets/icons/chevron_down.svg"
         alt="Dropdown menu icon"
         height="24"
         width="24"/>
  </a>

  @if (isActive) {
    <div class="dropdown__list">
      @for (sort of sortingOptions;track sort.label) {
        @if (sort.value !== activeOrder.value) {
          <a class="dropdown__item"
             (click)="changeActiveOrder(sort.value)"
             [routerLink]="['/', ShopRouteEndpoint.Shop]"
             [queryParams]="{orderBy: sort.value}"
             queryParamsHandling="merge">
            {{ sort.label }}
          </a>
        }
      }
    </div>
  }
</div>
