<div class="dropdown" (clickOutside)="hideDropdownMenu()">
  <a class="dropdown__active-section" (click)="toggleDropdownMenu()">
    Default sorting
    <img ngSrc="assets/icons/chevron_down.svg"
         alt="Dropdown menu icon"
         height="24"
         width="24"/>
  </a>

  @if (isActive) {
    <div class="dropdown__list">
      <a class="dropdown__item">Sort by newness</a>
      <a class="dropdown__item">Sort by time left</a>
      <a class="dropdown__item">Sort by price: low to high</a>
      <a class="dropdown__item">Sort by price: high to low</a>
    </div>
  }
</div>
