<div class="item-card">
  <a class="item-card__link" [routerLink]="['/shop/item/', item.id]">
    <img [ngClass]="{'v__orientation': imageOrientation === 'v', 'h__orientation': imageOrientation === 'h'}"
         alt="Image of an item"
         src="{{item.thumbnail.imageUrl}}"/>
  </a>
  <span class="item-card__name">{{ item.name }}</span>

  <div class="item-card__price-section">
    <p class="item-card__text">
      Start from
      <span class="item-card--price">${{ item.initialPrice }}</span>
    </p>

    @if (item.currentPrice !== item.initialPrice) {
      <p class="item-card__text">
        Current price
        <span class="item-card--price">${{ item.currentPrice }}
      </span>
      </p>
    }
  </div>
</div>
