@import "colors";
@import "typography";
@import "container";

:host {
  @media (min-width: $large) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.highlight {
  width: 100%;

  &__layout {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    img {
      max-width: 320px;
    }
  }

  &__description {
    color: $neutral-grey;
  }

  &__btn {
    align-items: center;
    border: 2px solid $primary;
    @extend .font-bold;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    margin-top: auto;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
    transition: all 300ms ease-out;
    width: fit-content;

    &:hover {
      background-color: $primary;
      color: $white;

      svg {
        g {
          path {
            fill: $white;
          }
        }
      }
    }
  }
}

.label {
  &--title {
    @extend .font-size-ex4;
  }

  &--price {
    color: $primary;
    @extend .font-size-ex;
    @extend .font-semi-bold;
  }
}
