@import "container";

@mixin items-grid($initialColumns: 2, $columns: 4) {
  display: grid;
  gap: 3.2rem 1.6rem;
  grid-template-columns: repeat(#{$initialColumns}, minmax(0, 1fr));

  @media (min-width: $large) {
    grid-template-columns: repeat(#{$columns}, minmax(0, 1fr));
  }
}
