<div class="tab">
  <ul class="tab__list">
    <li>
      <profile-tab-button
        [iconHeight]="10"
        [iconWidth]="18"
        [path]="ProfileRouteEndpoint.Seller"
        iconSrc="assets/icons/list.svg"/>
    </li>
    <li>
      <profile-tab-button
        [iconHeight]="24"
        [iconWidth]="24"
        [path]="ProfileRouteEndpoint.Bid"
        iconSrc="assets/icons/monetization_on.svg"/>
    </li>
    <li>
      <profile-tab-button
        [iconHeight]="16"
        [iconWidth]="18"
        [path]="ProfileRouteEndpoint.AddItem"
        iconSrc="assets/icons/add_large.svg"/>
    </li>
  </ul>
</div>
