<div class="top-bar">
  <div class="container">
    <div class="top-bar__layout">
      <div class="top-bar__social-media">
        <app-anchor-image
          class="top-bar__social-media__item"
          link="https://www.facebook.com/atlantbh"
          imageSource="assets/social-media/akar-icons_facebook-fill.svg"
          alt="Facebook"/>
        <app-anchor-image
          class="top-bar__social-media__item"
          link="https://www.instagram.com/atlantbh/"
          imageSource="assets/social-media/entypo-social_instagram-with-circle.svg"
          alt="Instagram"/>
        <app-anchor-image
          class="top-bar__social-media__item"
          link="https://twitter.com/atlantbh?lang=en"
          imageSource="assets/social-media/entypo-social_twitter-with-circle.svg"
          alt="Twitter"/>
      </div>
    </div>
  </div>
</div>
