<div class="top-bar">
  <div class="container">
    <div class="top-bar__layout">
      <div class="top-bar__social-media">
        <app-anchor-image
          [externalLink]="true"
          alt="Facebook"
          class="top-bar__social-media__item"
          imageSource="assets/social-media/facebook_icon.svg"
          link="https://www.facebook.com/atlantbh"/>
        <app-anchor-image
          [externalLink]="true"
          alt="Instagram"
          class="top-bar__social-media__item"
          imageSource="assets/social-media/instagram_icon.svg"
          link="https://www.instagram.com/atlantbh/"/>
        <app-anchor-image
          [externalLink]="true"
          alt="Twitter"
          class="top-bar__social-media__item"
          imageSource="assets/social-media/twitter_icon.svg"
          link="https://twitter.com/atlantbh?lang=en"/>
      </div>

      <div>
        <ng-container *ngIf="user$ | async as user; else actionMenu">
          <div class="member">
            <span (click)="logoutUser()">Hi, {{user.firstName + " " + user.lastName}}</span>
          </div>
        </ng-container>

        <ng-template #actionMenu>
          <div class="top-bar__action-menu">
            <div>
              <a class="member" routerLink="/login">Login</a>
            </div>
            <div>
              <span class="divider">or</span>
            </div>
            <div>
              <a class="member" routerLink="/register">Create an account</a>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
