@import "colors";
@import "typography";

@mixin flex-items-center {
  display: flex;
  align-items: center;
}

.top-bar {
  background-color: $neutral-dark;
  display: flex;
  height: 4rem;

  &__layout {
    @include flex-items-center;
    justify-content: space-between;
    width: 100%;
  }

  &__social-media {
    @include flex-items-center;
    gap: 1.6rem;

    &__item {
      &:hover {
        filter: contrast(200%);
      }
    }
  }

  &__action-menu {
    display: flex;
    gap: 2.4rem;
  }
}

.divider {
  color: $neutral-grey;
}

.member {
  color: $white;
  transition: all 300ms ease-out;

  &:hover {
    color: $neutral-light-grey;
  }
}
