<div class="top-bar">
  <div class="container">
    <div class="top-bar__layout">
      <div class="top-bar__social-media">
        <app-anchor-image
          [externalLink]="true"
          alt="Facebook"
          class="top-bar__social-media__item"
          imageSource="assets/social-media/akar-icons_facebook-fill.svg"
          link="https://www.facebook.com/atlantbh"/>
        <app-anchor-image
          [externalLink]="true"
          alt="Instagram"
          class="top-bar__social-media__item"
          imageSource="assets/social-media/entypo-social_instagram-with-circle.svg"
          link="https://www.instagram.com/atlantbh/"/>
        <app-anchor-image
          [externalLink]="true"
          alt="Twitter"
          class="top-bar__social-media__item"
          imageSource="assets/social-media/entypo-social_twitter-with-circle.svg"
          link="https://twitter.com/atlantbh?lang=en"/>
      </div>
    </div>
  </div>
</div>
