<div class="date-picker">

  @if (dateService.date();as date) {
    <div class="date-picker__container">
      <div class="date-picker__header">
        <p class="date-picker__title">Select date</p>
        <span class="date-picker__selected-date">
          {{ date.selected |  date: 'EEE' }}
          ,
          {{ date.selected | date: 'MMM' }} {{ date.selected.getDate() }}
      </span>
      </div>
    </div>

    <div class="date-picker__calendar">
      <div class="date-picker__calendar__navigation">
        <p>{{ date.dateList[0] | date: 'MMMM' }} {{ date.dateList[0].getFullYear() }}</p>

        <div class="date-picker__nav">
          <button
            (click)="goToThePreviousMonth()"
            class="date-picker__nav-btn">
            <img
              alt="Go to the previous month"
              height="24"
              ngSrc="assets/icons/chevron_left.svg"
              width="24">
          </button>

          <button
            (click)="goToNextMonth()"
            class="date-picker__nav-btn">
            <img
              alt="Go to the next month"
              height="24"
              ngSrc="assets/icons/chevron_right.svg"
              width="24"/>
          </button>
        </div>
      </div>
    </div>

    <table>
      <thead>
      <tr class="date-picker__calendar__days">
        <th>S</th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
      </tr>
      </thead>

      <tbody>
      <tr class="date-picker__content-row">
        <td *ngFor="let empty of firstDayOfMonthSpacing"></td>

        <td *ngFor="let member of date.dateList">
          <input
            (click)="changeDate(member)"
            [disabled]="member < dateService.currentDate"
            [value]="member.getDate()"
            [ngClass]="{'active': dateService.isSameDateIgnoreTime(member)}"
            class="date-picker__day-button"
            type="button"/>
        </td>
      </tr>
      </tbody>

      <div class="date-picker__buttons">
        <button (click)="closeForm()" class="date-picker__buttons--cancel">Cancel</button>
        <button (click)="submitForm()" class="date-picker__buttons--time">Set time</button>
      </div>
    </table>
  }
</div>
