@import "container";
@import "container";

.home-header {
  background-color: #FCFCFC;
  display: flex;

  &__layout {
    display: grid;
    gap: 6.4rem;
    grid-template-columns: 1fr;
    margin: 2.4rem 0;
    width: 100%;

    @media (min-width: $large) {
      grid-template-columns: 1fr 3fr;
    }
  }
}

.loader-placeholder {
  height: 950px;

  @media (min-width: $large) {
    height: 658px;
  }
}
