@use "colors";
@use "container";

.search-bar {
  border: 1px solid colors.$neutral-light-grey;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;

  &:focus-within {
    outline: 2px solid colors.$primary;
    outline-offset: 2px;
  }

  input {
    width: 100%;
  }

  &__btn {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    margin-left: 1.2rem;
  }
}
