@import "colors";

.loader {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  max-height: inherit;
  min-height: inherit;
  z-index: 9999;

  &__animation {
    animation: rotation 1s linear infinite;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 48px;
    position: relative;
    width: 48px;

    &::after {
      border: 3px solid transparent;
      border-bottom-color: $primary;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: 56px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 56px;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

  }
}

