$primary: #8367D8;

$neutral-00: #252525;
$neutral-05: #9B9B9B;
$neutral-09: #D8D8D8;
$white: #FFFFFF;

$info: #0066CC;
$success: #417505;
$error: #CC0000;
$error: #CC0000;
$warning: #EC982D;
$accent: #AB944E;
