@import "colors";
@import "typography";

:host{
  display: flex;
  flex: 1;
}

.footer {
  background-color: $neutral-dark;
  color: $white;
  display: flex;
  flex: 1;

  &__layout {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.8rem;
    width: 100%;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.4rem 0;

    &__title {
      color: $neutral-grey;
      font-size: 1.6rem;
      text-transform: uppercase;
    }

    &__list {
      display: flex;
      @extend .font-semi-bold;
      flex-direction: column;
      gap: 0.4rem;
      list-style: none;
    }

    &__item {
      color: $neutral-light-grey;
      transition: all 300ms ease-out;

      &:hover {
        color: $neutral-grey;
      }

      &--disabled {
        &:hover {
          color: $neutral-light-grey;
        }
      }
    }
  }

  &__follow-us {
    flex-direction: row;
    gap: 1.2rem;

    &--hover {
      &:hover {
        filter: contrast(200%);
      }
    }
  }
}
