<form-wrapper formSubject="Add Item">
  <form [formGroup]="addItemForm.form" class="form">

    <form-field-wrapper>
      <app-form-member
        [controlGroup]="addItemForm.form"
        [valid]="addItemForm.getValidationStatus(BasicFormValidation.ItemName).valid"
        controlName="itemName"
        inputType="text"
        memberId="name"
        memberLabel="What do you want to sell?"
        placeholder="ex. Playstation 5"/>

      <app-validation-message
        *ngIf="!addItemForm.getValidationStatus(BasicFormValidation.ItemName).valid"
        message="{{addItemForm.getValidationStatus(BasicFormValidation.ItemName).message}}"/>
    </form-field-wrapper>


    <form-field-wrapper>
      <add-item-basic-form-categories
        (onSelect)="updateCategorySelection($event)"
        [activeCategory]="categoryService.findCategoryById(formControls.category.value)"
        [activeSubcategory]="categoryService.findCategoryById(formControls.subcategory.value)"
        [categoryValid]="addItemForm.getValidationStatus(BasicFormValidation.Category).valid"
        [subcategoryValid]="addItemForm.getValidationStatus(BasicFormValidation.Subcategory).valid"
      />

      <div class="categories__validation__layout">
        <app-validation-message
          *ngIf="!addItemForm.getValidationStatus(BasicFormValidation.Category).valid"
          message="{{addItemForm.getValidationStatus(BasicFormValidation.Category).message}}"
        />

        <div *ngIf="
        addItemForm.getValidationStatus(BasicFormValidation.Category).valid
        && !addItemForm.getValidationStatus(BasicFormValidation.Subcategory).valid">
        </div>

        <app-validation-message
          *ngIf="!addItemForm.getValidationStatus(BasicFormValidation.Subcategory).valid"
          message="{{addItemForm.getValidationStatus(BasicFormValidation.Subcategory).message}}"
        />
      </div>
    </form-field-wrapper>

    <add-item-basic-form-text-area
      [controlGroup]="addItemForm.form"
      [valid]="addItemForm.getValidationStatus(BasicFormValidation.Description).valid"
      controlName="description">

      <app-validation-message
        *ngIf="!addItemForm.getValidationStatus(BasicFormValidation.Description).valid"
        message="{{addItemForm.getValidationStatus(BasicFormValidation.Description).message}}"
      />
    </add-item-basic-form-text-area>


    <form-field-wrapper>
      <add-item-basic-form-images
        (addImageEvent)="addImage($event)"
        (removeImageEvent)="removeImage($event)"
        [isValid]="addItemForm.getValidationStatus(BasicFormValidation.Photos).valid"
        [itemImages]="addItemForm.form.controls.photos.value"/>

      <app-validation-message
        *ngIf="!addItemForm.getValidationStatus(BasicFormValidation.Photos).valid"
        message="{{addItemForm.getValidationStatus(BasicFormValidation.Photos).message}}"/>
    </form-field-wrapper>

    <div class="navigation">
      <button (click)="cancelFormEvent()" class="btn--cancel">Cancel</button>
      <button (click)="submitFormEvent()" class="btn--next">Next</button>
    </div>
  </form>
</form-wrapper>
