<form-wrapper formSubject="Add Item">
  <app-form-member
    inputType="text"
    memberId="name"
    memberLabel="What do you want to sell?"
    placeholder="ex. Playstation 5"/>

  <add-item-basic-form-categories/>
  <add-item-basic-form-text-area/>

  <add-item-basic-form-images
    (addImageEvent)="addImage($event)"
    (removeImageEvent)="removeImage($event)"
    [itemImages]="itemImages"/>

  <div class="navigation">
    <button class="btn--cancel" type="reset">Cancel</button>
    <button class="btn--next" type="button">Next</button>
  </div>
</form-wrapper>
