<profile-shared-nav-tab>
  <profile-table [tableSection]="TableSection.Bids">

    @if (bids$ | async;as bidInfo) {
      @for (bid of bidInfo;track $index) {
        <profile-table-data-row [biddingInfo]="bid"/>
      }

      @if (bidInfo.length <= 0) {
        <profile-table-empty
          btnLabel="Start Bidding"
          iconName="gavel"
          iconPath="assets/icons/gavel.svg"
          message="You don't have any bids and there are so many cool items for sale.">
          <a class="btn" [routerLink]="['/', ShopRouteEndpoint.Shop]">Start Bidding</a>
        </profile-table-empty>
      }

    } @else {
      <app-loader class="loader-placeholder"/>
    }
  </profile-table>
</profile-shared-nav-tab>
