@import "colors.styles";
@import "typography.styles";
@import "container.styles";

.main-navbar {
  display: flex;

  &__layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    align-items: center;
    display: flex;
  }

  &__search {
    align-items: center;
    display: flex;
    gap: 2.4rem;
    justify-content: space-between;

    &-bar {
      display: none;

      @media (min-width: $medium) {
        display: flex;
      }
    }
  }

  &__navigation {
    display: flex;

    ul {
      align-items: center;
      display: inherit;
      gap: 3rem;
      list-style: none;
      text-transform: uppercase;
      white-space: nowrap;

      li {
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.active {
  color: $primary;
  @extend .font-bold;

  &:hover {
    filter: contrast(200%);
  }
}
