<div class="main-navbar">
  <div class="container">
    <div class="main-navbar__layout">

      <div class="main-navbar__logo">
        <app-anchor-image
          [externalLink]="false"
          [imageHeight]="56"
          [imageWidth]="163"
          alt="Auction App Logo"
          imageSource="assets/logos/app_logo.png"
          link="/home"
        />
      </div>

      <div class="main-navbar__search">
        <div>
          <app-search-bar/>
        </div>

        <div class="main-navbar__navigation">
          <ul>
            <li>
              <a routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li>
              <a routerLink="/shop" routerLinkActive="active">Shop</a>
            </li>
            <li *ngIf="userService.user()">
              <a [routerLink]="ProfileRouteEndpoint.MyAccount" routerLinkActive="active">My Account</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
