<div *ngIf="item$ | async as item" class="item-showcase">
  <div class="item-showcase__layout">
    <div class="item-showcase__main">
      <img alt="{{activeImage?.name}}"
           class="item-showcase__main__image"
           src="{{activeImage?.imageUrl}}"/>
    </div>
    <div class="item-showcase__slide">
      <div (click)="changeActiveImage(image)" *ngFor="let image of item.item.images" class="item-showcase__slide__item">
        <img alt="Image" src="{{image.imageUrl}}"/>
      </div>
    </div>
  </div>
</div>
