<profile-shared-nav-tab>
  <section>
    <div class="table-nav">

      @for (section of sectionSet;track $index) {
        <a [ngClass]="{'section-btn--active' : activeSection === section}"
           [queryParams]="{section: section}"
           class="section-btn"
           routerLink="/my-account/seller">
          {{ TabSectionName[section] }}
        </a>
      }
    </div>

    <profile-table [tableSection]="TableSection.Seller">

      @if (activeSection === TabSection.Active) {
        @if (items().active;as activeItems) {
          @for (item of activeItems;track $index) {
            <profile-table-data-row [sellerItem]="item"/>
          } @empty {
            <profile-table-empty
              btnLabel="Start selling"
              iconName="Shopping cart icon"
              iconPath="assets/icons/shopping_cart.svg"
              message="You do not have any active items for sale.">
              <a class="btn" [routerLink]="['/', ProfileRouteEndpoint.MyAccount, ProfileRouteEndpoint.AddItem]">
                Start selling
              </a>
            </profile-table-empty>
          }
        } @else {
          <app-loader/>
        }

      } @else if (activeSection === TabSection.Sold) {
        @if (items().sold;as soldItems) {
          @for (item of soldItems;track $index) {
            <profile-table-data-row [sellerItem]="item"/>
          } @empty {
            <profile-table-empty
              btnLabel="Start selling"
              iconName="Shopping cart icon"
              iconPath="assets/icons/shopping_cart.svg"
              message="You do not have any scheduled items for sale.">
              <a class="btn" [routerLink]="['/', ProfileRouteEndpoint.MyAccount, ProfileRouteEndpoint.AddItem]">
                Start selling
              </a>
            </profile-table-empty>
          }
        }
      }
    </profile-table>
  </section>
</profile-shared-nav-tab>
