@use "colors";
@use "buttons";

.table-nav {
  border-left: 1px solid colors.$neutral-light-grey;
  border-right: 1px solid colors.$neutral-light-grey;
  border-top: 1px solid colors.$neutral-light-grey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
}

.section-btn {
  background-color: colors.$gray-100;
  display: block;
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
  text-align: center;
  @extend .font-semi-bold;

  &--active {
    background-color: colors.$primary;
    color: colors.$white;
  }
}

.btn {
  @include buttons.secondary-btn;
  text-transform: uppercase;
  @extend .font-semi-bold;
  @extend .font-size-large;
  padding: 1rem 4.8rem;
}
