<div class="highlight">
  <div class="highlight__layout">

    <div class="highlight__body">
      <h1 class="highlight__label label label--title">Running Shoes</h1>
      <span class="highlight__label label label--price">Start From $59.00</span>
      <p class="highlight__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit odio a erat lobortis auctor.
        Curabitur sodales pharetra placerat. Aenean auctor luctus tempus. Cras laoreet et magna in dignissim. Nam
        et tincidunt augue. Vivamus quis malesuada velit. In hac habitasse platea dictumst.
      </p>
      <a class="highlight__btn">
        Bid Now
        <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2_14401)">
            <path d="M9.99984 6L8.58984 7.41L13.1698 12L8.58984 16.59L9.99984 18L15.9998 12L9.99984 6Z"
                  fill="#252525"/>
          </g>
          <defs>
            <clipPath id="clip0_2_14401">
              <rect fill="white" height="24" width="24"/>
            </clipPath>
          </defs>
        </svg>
      </a>
    </div>

    <div class="highlight__image">
      <img alt="Featured item" src="/assets/images/Rectangle-54.png"/>
    </div>

  </div>
</div>
