@import "colors";
@import "typography";

.content-card {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  &__title {
    @extend .font-size-ex3;
    @extend .font-semi-bold;
  }

  &__content {
    color: $neutral-grey;
  }
}
