<div class="form">
  <label [for]="fieldLabel" class="form__label">{{ fieldLabel }}</label>
  <div
    class="form__input layout"
    [ngClass]="{'invalid': !validField}">
    <input
      [id]="fieldLabel"
      type="text"
      disabled
      [placeholder]="dateTimeService.dateTime().selected  | date : 'MMM - d, y, h:mm a'">
    <img ngSrc="assets/icons/calander.svg"
         alt="Calendar"
         (click)="openDateTimeSelection()"
         height="20"
         width="20"/>
  </div>
</div>

@if (currentSelection === DatePickerForm.DateForm) {
  <app-modal (closeModalEvent)="closeDateTimeSelection()">
    <app-date-picker
      (closeEvent)="closeDateTimeSelection()"
      (submitEvent)="goToTimeSelection()"/>
  </app-modal>
}

@if (currentSelection === DatePickerForm.TimeForm) {
  <app-modal (closeModalEvent)="closeDateTimeSelection()">
    <add-item-form-time-selector
      (closeEvent)="closeDateTimeSelection()"
      (submitEvent)="submitDateTimeSelection()"/>
  </app-modal>
}
