@use "colors";
@use "typography";

.form {
  display: grid;
  gap: 0.8rem;

  &__label {
    border: 1px solid transparent;
    @extend .font-semi-bold;
    color: colors.$neutral-dark;

    &:focus {
      border: 1px solid colors.$primary;
    }
  }

  &__input {
    background-color: colors.$input-gray;
    border: 1px solid colors.$neutral-light-grey;
    padding: 1.4rem;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr 10%;
}

img {
  &:hover {
    cursor: pointer;
  }
}

.invalid {
  border: 1px solid colors.$error;
}
