@import "colors";
@import "typography";
@import "grid";

.content_section {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  height: 100%;
}

.btn {
  align-self: center;
  background-color: $primary;
  border: none;
  color: $white;
  padding: 1.8rem 5.7rem;
  @extend .font-medium;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}

.items-grid {
  @include items-grid(3, 3);
}

.loader-placeholder {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
