<div class="content_section">

  <ng-container *ngIf="loader.getLoader('items').isLoading$ | async; else content">
    <app-loader class="loader-placeholder"/>
  </ng-container>

  <ng-template #content>

    @if (pagination.totalElements === 0) {
      <p>
        No items were found.
      </p>
    }

    <div class="items-grid">
      @for (item of items;track item.id) {
        <app-item-card (click)="navigateToItem(item.id)" [imageOrientation]="'v'" [item]="item"/>
      }
    </div>
  </ng-template>


  <!-- Explore More -->

  @if ((!pagination.isLastPage) && (loader.getLoader('load-more').isLoading$ | async)) {
    <app-loader class="loader-placeholder"/>
  }
</div>
