<div class="content_section">

  <ng-container *ngIf="loader.getLoader('items').isLoading$ | async; else content">
    <app-loader class="loader-placeholder"/>
  </ng-container>

  <ng-template #content>
    <p *ngIf="(pagination.totalElements$ | async) === 0">
      No items were found.
    </p>

    <div class="items-grid">
      @for (item of items;track item.id) {
        <app-item-card (click)="navigateToItem(item.id)" [imageOrientation]="'v'" [item]="item"/>
      }
    </div>
  </ng-template>


  <!-- Explore More -->
  <ng-container *ngIf="(pagination.isLast$ | async) === false">
    <ng-container *ngIf="(loader.getLoader('load-more').isLoading$ | async); else btn">
      <app-loader/>
    </ng-container>
    <ng-template #btn>
      <button (click)="loadMoreElements()" *ngIf="(loader.getLoader('items').isLoading$ | async) === false" class="btn">
        Explore More
      </button>
    </ng-template>
  </ng-container>
</div>
