@mixin _layout {
  display: grid;
  gap: 2.4rem 1.2rem;
}

.content_section {
  display: flex;
}

.layout {
  &--grid {
    @include _layout;
    grid-template-columns: repeat(3, 1fr);
  }

  &--list {
    @include _layout;
    grid-template-columns: 1fr;
  }
}

.loader-placeholder {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}
