<form-wrapper formSubject="Location & Shipping">

  <app-form-member
    [controlGroup]="locationShippingForm"
    [valid]="true"
    controlName="address"
    inputType="text"
    memberId="address"
    memberLabel="Address"
    placeholder="123 Main Street"
  />


  <app-form-member
    [controlGroup]="locationShippingForm"
    [valid]="true"
    controlName="email"
    inputType="email"
    memberId="email"
    memberLabel="Enter email"
    placeholder="user@domain.com"
  />

  <div class="form__city">
    <app-form-member
      [controlGroup]="formControl.location"
      [valid]="true"
      controlName="city"
      inputType="text"
      memberId="city"
      memberLabel="City"
      placeholder="ex. Madrid"
    />

    <app-form-member
      [controlGroup]="formControl.location"
      [valid]="true"
      controlName="zip"
      inputType="text"
      memberId="zip"
      memberLabel="Zip code"
      placeholder="XXXXXXX"
    />
  </div>

  <div class="form__member">
    <label class="form__member__label">Country</label>
    <form-dropdown
      (onSelect)="changeCountry($event)"
      [isActive]="false"
      [isValid]="true"
      buttonText="ex.Spain"/>
  </div>

  <app-form-phone-number
    [controlGroup]="locationShippingForm"
    controlName="contact"/>

  <app-add-item-credit-card-form
    [creditCardGroup]="formControl.creditCard"
    [credCardExpirationGroup]="formControl.creditCard.controls.expiration"/>

  <div class="form__navigation">
    <button class="btn--cancel">Cancel</button>

    <div class="form__navigation__forward">
      <button class="btn--back">Back</button>
      <button class="btn--next">Next</button>
    </div>
  </div>
</form-wrapper>
