<form-wrapper formSubject="Location & Shipping">

  <app-form-member
    [controlGroup]="locationShippingForm.form"
    [valid]="true"
    controlName="address"
    inputType="text"
    memberId="address"
    memberLabel="Address"
    placeholder="123 Main Street"
  />


  <app-form-member
    [controlGroup]="locationShippingForm.form"
    [valid]="true"
    controlName="email"
    inputType="email"
    memberId="email"
    memberLabel="Enter email"
    placeholder="user@domain.com"
  />

  <div class="form__city">
    <app-form-member
      [controlGroup]="locationShippingForm.form.controls.location"
      [valid]="true"
      controlName="city"
      inputType="text"
      memberId="city"
      memberLabel="City"
      placeholder="ex. Madrid"
    />

    <app-form-member
      [controlGroup]="locationShippingForm.form.controls.location"
      [valid]="true"
      controlName="zip"
      inputType="text"
      memberId="zip"
      memberLabel="Zip code"
      placeholder="XXXXXXX"
    />
  </div>

  <div class="form__member">
    <label class="form__member__label">Country</label>
    <form-dropdown
      [isActive]="false"
      [isValid]="true"
      buttonText="ex.Spain"/>
  </div>

  <app-form-phone-number
    [controlGroup]="locationShippingForm.form"
    controlName="contact"/>

  <ng-container *ngIf="showCreditCardForm">
    <app-add-item-credit-card-form
      [credCardExpirationGroup]="locationShippingForm.form.controls.creditCard.controls.expiration"
      [creditCardGroup]="locationShippingForm.form.controls.creditCard"/>
  </ng-container>

  <div class="form__navigation">
    <button class="btn--cancel" (click)="cancelFormEvent()">Cancel</button>

    <div class="form__navigation__forward">
      <button class="btn--back" (click)="goBackEvent()">Back</button>
      <ng-container *ngIf="!showCreditCardForm">
        <button class="btn--next" (click)="submitFormEvent()">Next</button>
      </ng-container>

      <ng-container *ngIf="showCreditCardForm">
        <button class="btn--next">Finish</button>
      </ng-container>
    </div>
  </div>
</form-wrapper>
