@use "colors";
@use "typography";
@use "buttons";

.form {
  &__navigation {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    margin-top: 2.4rem;

    &__forward {
      display: grid;
      gap: 1.2rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__city {
    display: grid;
    gap: 2.4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  &__member {
    display: grid;
    gap: 0.8rem;

    &__label {
      color: colors.$neutral-dark;
      @extend .font-semi-bold;
    }
  }
}

.btn--cancel {
  @include buttons.tertiary-btn;
}

.btn--back {
  @include buttons.secondary-btn;
}

.btn--next {
  @include buttons.primary-btn;
}
