@import "colors.styles";
@import "container.styles";

@mixin image-properties {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-us {
  display: grid;
  padding: 9.6rem 0;

  &__layout {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr;

    @media (min-width: $extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__image__section {
    align-items: center;
    display: grid;
    gap: 2.4rem;
    grid-template-areas:
    "X X"
    "Y Z";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto 0;
  }

  &__image-item {
    &:nth-child(1) {
      grid-area: X;

      img {
        @include image-properties;
      }
    }

    &:nth-child(2) {
      grid-area: Y;

      img {
        @include image-properties;
      }
    }

    &:nth-child(3) {
      grid-area: Z;

      img {
        @include image-properties;
      }
    }
  }
}
