@import "colors.styles";
@import "container.styles";

.about-us {
  display: grid;
  padding: 9.6rem 0;

  &__layout {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr;

    @media (min-width: $extra-large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__section {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
  }

  &__image__section {
    align-items: center;
    display: grid;
    gap: 2.4rem;
    grid-template-areas:
    "X X"
    "Y Z";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: auto 0;
  }

  &__image-item {
    &:nth-child(1) {
      background: url("/assets/images/PersonOne.svg") no-repeat;
      background-size: cover;
      grid-area: X;
      height: 381px;
    }

    &:nth-child(2) {
      background: url("/assets/images/PersonTwo.svg") no-repeat;
      background-size: cover;
      grid-area: Y;
      height: 199px;
    }

    &:nth-child(3) {
      background: url("/assets/images/PersonThree.svg") no-repeat;
      background-size: cover;
      grid-area: Z;
      height: 199px;
    }
  }
}
