@use "colors" as *;
@use "typography";

.text-area {
  display: grid;
  gap: 0.8rem;

  &__label {
    color: $neutral-dark;
    @extend .font-semi-bold;
  }

  &__input {
    appearance: none;
    background-color: $input-gray;
    border: 1px solid $neutral-light-grey;
    font-family: inherit;
    padding: 1.6rem;
    resize: none;

    &::placeholder {
      color: $neutral-grey;
    }

    &:focus {
      border: 1px solid $primary;

      outline: none;
    }
  }

  &__count {
    color: $neutral-grey;
    justify-self: right;
  }
}
