@use "colors";
@use "typography";
@use "forms";

.text-area {
  display: grid;
  gap: 0.8rem;

  &__label {
    color: colors.$neutral-dark;
    @extend .font-semi-bold;
  }

  &__input {
    appearance: none;
    background-color: colors.$input-gray;
    border: 1px solid colors.$neutral-light-grey;
    font-family: inherit;
    padding: 1.6rem;
    resize: none;

    &::placeholder {
      color: colors.$neutral-grey;
    }

    &:focus {
      border: 1px solid colors.$primary;

      outline: none;
    }
  }

  &__count {
    color: colors.$neutral-grey;
    margin-left: auto;
    text-align: right;
    white-space: nowrap;
  }

  &__info {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.invalid-field {
  @include forms.invalid-field;

  &__text {
    color: colors.$error;
  }
}
