<div [formGroup]="controlGroup" class="text-area">
  <label
    class="text-area__label"
    for="description">
    Description
  </label>

  <textarea
    (input)="updateCounts()"
    [formControlName]="controlName"
    [ngClass]="{'invalid': !valid}"
    class="text-area__input"
    id="description"
    rows="7"
  >
  </textarea>

  <div class="text-area__info">
    <ng-content></ng-content>
    <span [ngClass]="{'invalid__text': !valid}" class="text-area__count">
    {{wordCount}} words ({{characterCount}} characters)
  </span>
  </div>
</div>
