@import "colors";

@mixin alert {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1.6rem;
  width: 100%;
  text-align: center;
  margin: 1.2rem 0;
}

// Use different colors for text as to avoid low contrast
.alert-warning-level-two {
  @include alert;
  background-color: $low-alert;
}

.alert-warning-level-one {
  @include alert;
  background-color: $error;
  color: white;
}

.alert-info {
  @include alert;
  background-color: #10B981;
}
