<div
  (focusout)="emitSelectionChange(); hideDropdownMenu()"
  [ngClass]="{'invalid': !isValid}"
  class="relative">
  <button
    (click)="showDropdownMenu()"
    class="dropdown__btn">
    {{ buttonText }}
    <img
      alt="Open dropdown menu"
      height="24"
      ngSrc="assets/icons/chevron_down.svg"
      width="24"/>
  </button>

  <ng-container *ngIf="isActive">
    <div class="dropdown">
      <ul>
        <li
          (click)="emitSelectionChange(); hideDropdownMenu()"
          class="dropdown__category">
          Placeholder
        </li>
      </ul>
    </div>
  </ng-container>
</div>
