@use "colors";
@use "typography";

@mixin buttonStyles {
  transition: all 200ms ease-out;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  @extend .font-semi-bold;

  &:hover {
    cursor: pointer;
  }
}

.btn {
  &--cancel {
    @include buttonStyles;
    background-color: transparent;
    border: 2px solid  colors.$neutral-light-grey;

    &:hover {
      border: 2px solid colors.$primary;
    }
  }

  &--back {
    @include buttonStyles;
    background-color: transparent;
    border: 2px solid colors.$primary;

    &:hover {
      background-color: lighten(colors.$primary, 2);
      border: 2px solid lighten(colors.$primary, 2);
      color: colors.$white;
    }
  }

  &--next {
    @include buttonStyles;
    background-color: colors.$primary;
    border: 2px solid colors.$primary;
    color: colors.$white;

    &:hover {
      background-color: lighten(colors.$primary, 2);
      border: 2px solid lighten(colors.$primary, 2);
    }
  }
}
