<div class="navigation-trail">
  <div class="container">
    <div class="navigation-trail__layout">
      <div>
        <p>{{ getLabel() | async}}</p>
      </div>
      <div class="navigation-trail__navigation">
        <ng-container *ngFor="let item of getPaths() | async; let last = last">
          <a *ngIf="!last" [routerLink]="item.path" class="navigation-trail__navigation__item">{{ item.label }}</a>
          <span *ngIf="last" class="navigation-trail__navigation__item --active">{{ item.label }}</span>
          <span *ngIf="!last">
                <img alt="Navigation pointer"
                     height="10"
                     [ngSrc]="Chevron.Icon"
                     width="10">
              </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
