<div
  (clickOutside)="hideDropdownMenu()"
  [ngClass]="{'invalid': !isValid}"
  class="relative">

  <button
    (click)="showDropdownMenu()"
    [ngClass]="{'selected': listToggled}"
    class="dropdown__btn">
    {{ buttonText }}
    <img alt="Open dropdown menu" height="24" ngSrc="assets/icons/chevron_down.svg" width="24"/>
  </button>

  <ng-container *ngIf="isActive">
    <div class="dropdown">
      <ng-container *ngIf="listOfSubcategories; else categories">
        <ul *ngFor="let subcategory of listOfSubcategories">
          <li (click)="emitSelectionChange(subcategory.id, []); hideDropdownMenu();"
              class="dropdown__category">
            {{subcategory.name}}
          </li>
        </ul>
      </ng-container>

      <ng-template #categories>
        <ul *ngFor="let category of listOfCategories">
          <li (click)="emitSelectionChange(category.id,category.subcategories); hideDropdownMenu();"
              class="dropdown__category">
            {{category.name}}
          </li>
        </ul>
      </ng-template>
    </div>
  </ng-container>
</div>
