<section class="add-item">
  <div class="container">
    <div class="add-item__layout">
      <app-progress-bar
        [currentProgress]="currentFormNum"
        [totalProgress]="totalFormNum"/>

      <ng-container [ngSwitch]="currentFormNum">
        <add-item-basic-form
          (cancelForm)="cancelFormEvent()"
          (goBack)="goBackEvent()"
          (submitForm)="submitFormEvent()"
          *ngSwitchDefault/>

        <add-item-set-price-form
          (cancelForm)="cancelFormEvent()"
          (goBack)="goBackEvent()"
          (submitForm)="submitFormEvent()"
          *ngSwitchCase="2"/>

        <app-add-item-location-shipping
          (cancelForm)="cancelFormEvent()"
          (goBack)="goBackEvent()"
          (submitForm)="submitFormEvent()"
          *ngSwitchCase="3"
          [showCreditCardForm]="displayCreditCardForm"/>
      </ng-container>
    </div>
  </div>
</section>
