<section class="add-item">
  <div class="container">
    <div class="add-item__layout">
      <app-progress-bar
        [currentProgress]="currentFormNum"
        [totalProgress]="totalFormNum"/>

      @switch (currentFormNum) {
        @default {
          <add-item-basic-form
            (cancelForm)="cancelFormEvent()"
            (goBack)="goBackEvent()"
            (submitForm)="submitFormEvent()"/>
        }
        @case (2) {
          <add-item-set-price-form
            (cancelForm)="cancelFormEvent()"
            (goBack)="goBackEvent()"
            (submitForm)="submitFormEvent()"/>
        }
        @case (3) {
          <app-add-item-location-shipping
            (cancelForm)="cancelFormEvent()"
            (goBack)="goBackEvent()"
            (submitForm)="submitFormEvent()"
            [showCreditCardForm]="displayCreditCardForm"/>
        }
      }
    </div>
  </div>
</section>
