@import "colors";
@import "typography";

.item-summary {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  &__title {
    font-size: 3.2rem;
    line-height: normal;
    @extend .font-semi-bold;
  }

  p {
    color: $neutral-grey;
  }

  &__auction {
    display: flex;
    flex-direction: column;
    outline: 1px solid $neutral-light-grey;
    padding: 1.2rem 2.4rem;

    @media (min-width: $large) {
      width: fit-content;
    }
  }

  &--info {
    color: $primary;
    @extend .font-semi-bold;
  }
}
