<aside aria-label="sidebar" class="sidebar">
  <span class="sidebar__label">Categories</span>
  <ul class="sidebar__category__list">

    @for (category of categories; track category.id) {
      <li class="sidebar__item">
        <a [queryParams]="{category: category.name | lowercase}"
           class="category"
           [routerLink]="['/', ShopRouteEndpoint.Shop]">
          {{ category.name }}
        </a>
      </li>
    }

    <li class="sidebar__item">
      <a class="category"
         [routerLink]="['/', ShopRouteEndpoint.Shop]">
        All Categories
      </a>
    </li>
  </ul>
</aside>
