<aside aria-label="sidebar" class="sidebar">
  <span class="sidebar__label">Categories</span>
  <ul class="sidebar__category__list">

    <ng-container *ngFor="let category of categories$ | async">
      <li class="sidebar__item">
        <a [queryParams]="{category: category.name.toLowerCase()}"
           class="category"
           routerLink="/shop">
          {{category.name}}
        </a>
      </li>
    </ng-container>

    <li class="sidebar__item">
      <a class="category"
         routerLink="/shop">
        All Categories
      </a>
    </li>
  </ul>
</aside>
