@use "../table/table.component";
@use "colors";
@use "typography";

$cube-shape: 8rem;

@mixin item-portrait-container {
  height: $cube-shape;
  width: $cube-shape;
}

.bids-layout {
  @include table.bids-layout;
  @include table.table-horizontal-spacing;
}

.seller-layout {
  @include table.seller-layout;
  @include table.table-horizontal-spacing;
}

.table-data-row {
  transition: all 300ms ease-out;

  &:hover {
    background-color: colors.$gray-100;
  }
}

.cell {
  align-items: center;
  @extend .font-semi-bold;
  display: flex;
  justify-content: center;

  // Item image
  &__portrait {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  // Item image container
  &:nth-child(1) {
    @include item-portrait-container;
  }

  // Item Name
  &:nth-child(2) {
    justify-content: left;
    margin-left: 2rem;
  }
}

.highest-bidder {
  color: #69B207;
}

.outbid {
  color: #0066CC;
}
