<div class="navigation-trail">
  <div class="container">
    <div class="navigation-trail__layout">
      <div>
        <span class="navigation-trail__page-title" >{{ label$ | async}}</span>
      </div>
      <div class="navigation-trail__navigation">
        <ng-container *ngFor="let item of path$ | async; let last = last">
          <a *ngIf="!last" [routerLink]="item.path"
             class="navigation-trail__navigation__item">{{ item.label }}</a>
          <span *ngIf="last" class="navigation-trail__navigation__item --active">{{ item.label }}</span>
          <span *ngIf="!last">
                <img alt="Navigation pointer"
                     height="10"
                     ngSrc="assets/icons/pointer_right.svg"
                     width="10">
              </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
