@use "typography";
@use "colors";
@use "forms";

.member {
  display: grid;
  gap: 0.8rem;

  &__label {
    color: colors.$neutral-dark;
    @extend .font-semi-bold;
  }

  &__input {
    background-color: colors.$input-gray;
    border: 1px solid colors.$neutral-light-grey;
    padding: 1.6rem;

    &::placeholder {
      color: colors.$neutral-grey;
    }

    &:focus {
      border: 1px solid colors.$primary;
    }
  }
}

.invalid-field {
  @include forms.invalid-field;
}
