@import "colors";
@import "typography";
@import "container";

.shop-item {
  &__page__layout {
    display: grid;
    gap: 4.8rem;
    padding: 8rem 0;

    @media (min-width: $large) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__description__layout {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
}

.loader-placeholder {
  height: 70vh;
}
