<div class="shop-item">

  <app-bid-notification [alert]="alertService.alert"/>

  <ng-container *ngIf="itemService.item() as item; else loader">
    <div class="container">
      <div class="shop-item__page__layout">

        <shop-item-showcase [images]="item.item.images"/>

        <div class="shop-item__description__layout">
          <shop-item-summary
            [biddingInfo]="item.biddingInformation"
            [item]="item.item"/>

          <ng-container *ngIf="authService.getCurrentUser()?.id !== item.ownerId">
            <form (ngSubmit)="onSubmit()" class="form">
              <form-input-field
                [formFieldGroup]="bidForm"
                [isInputValid]="bidForm.get('offer')?.valid"
                formField="offer"
                placeholder="{{item.biddingInformation.highestBid === 0 ? 'Enter $' + item.item.initialPrice + ' or higher'
                            : 'Enter higher offer than $' + (item.biddingInformation.highestBid | number:'1.2-2') }}"
                type="text"/>

              <button class="btn" type="submit">
                Place bid
                <img alt="Go right icon" height="24" ngSrc="assets/icons/right_pointer.svg" width="24"/>
              </button>

              <app-validation-message
                *ngIf="!bidForm.get('offer')?.valid"
                message="Make an offer in the following format: 100.00"/>

            </form>
          </ng-container>

          <shop-item-description
            [description]="item.item.description"
            [itemId]="item.item.id"/>
        </div>

      </div>
    </div>
  </ng-container>

  <ng-template #loader>
    <app-loader class="loader-placeholder"/>
  </ng-template>
</div>

