<ng-container *ngIf="loader.getLoader('item').isLoading$ | async; else content">
  <app-loader class="loader-placeholder"/>
</ng-container>

<ng-template #content>
  <div class="shop-item">
    <div class="container">
      <div class="shop-item__page__layout">
        <shop-item-showcase [item$]="item$" [activeImage]="activeImage"/>
        <div class="shop-item__description__layout">
          <shop-item-summary [item$]="item$"/>
          <shop-item-description [item$]="item$"/>
        </div>
      </div>
    </div>
  </div>
</ng-template>
