<div class="login-form">
  <h1 class="login-form__title">Login</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form">
    <ng-container *ngIf="error$ | async as error">
      <app-alert [message]="error"/>
    </ng-container>

    <form-input-field
      [formFieldGroup]="loginForm"
      formField="email"
      label="Email"
      placeholder="user@domain.com"
      type="email"/>

    <form-input-field
      [formFieldGroup]="loginForm"
      formField="password"
      label="Password"
      placeholder="********"
      type="password"/>

    <form-checkbox-field
      (click)="setRememberMe()"
      [isActive]="loginForm.get('rememberMe')?.value === true"
      [shape]="CheckboxShape.Square"
      label="Remember Me"/>

    <div class="form__btn">
      <button-primary label="Login"/>
    </div>
  </form>
</div>
