@import "colors";
@import "typography";
@import "grid";

.home-items {
  margin-bottom: 3.2rem;

  &__layout {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
  }
}

.loader-placeholder {
  &--content-section {
    height: 1220px;

    @media (min-height: $large) {
      height: 660px;
    }
  }

  &--items {
    height: 1152px;

    @media (min-width: $large) {
      height: 560px;
    }
  }
}

.items-grid {
  @include items-grid(2, 4);
}
