<ng-container *ngIf="items$ | async as items; else loading">
  <div class="home-items">
    <div class="container">
      <div class="home-items__layout">
        <home-items-section-tab/>

        <ng-container *ngIf="loader.loading$ | async">
          <app-loader class="loader-placeholder--items"/>
        </ng-container>

        <div *ngIf="!(loader.loading$ | async)" class="items-grid">
          <ng-container *ngFor="let item of items.content">
            <app-item-card (click)="navigateToItem(item.id)" [id]="item.id" [item]="item"/>
          </ng-container>
        </div>

      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loader class="loader-placeholder--content-section"/>
</ng-template>
