@import "colors";

@mixin checkbox {
  -webkit-appearance: none;
  height: 1.6rem;
  transition: background 300ms;
  vertical-align: middle;
  width: 1.6rem;

  &::before {
    background-color: transparent;
    background-size: contain;
    color: transparent;
    content: "";
    display: block;
    height: inherit;
    width: inherit;
  }
}

.checkbox-round {
  @include checkbox;
  border-radius: 0.4rem;
  box-shadow: inset 0 0 0 2px $primary;

  &::before {
    border-radius: inherit;
  }
}

.checkbox-square {
  @include checkbox;

  &::before {
    box-shadow: inset 0 0 0 2px $neutral-light-grey;
  }
}

.active {
  background-color: $primary;
  transition: all 300ms ease-out;

  &::before {
    background-image: url("/assets/icons/checkbox.svg");
    box-shadow: none;
  }
}
