<form-general (submitForm)="onSubmit()" [error$]="error$" [formFieldGroup]="registerForm" label="Register">

  <form-input-field
    [formFieldGroup]="registerForm"
    [formField]="RegisterForm.FirstName"
    [isInputValid]="validateFirstName.valid"
    label="First Name"
    placeholder="John"
    type="text">

    <ng-container *ngIf="!validateFirstName.valid">
      <app-validation-message [message]="validateFirstName.message!"/>
    </ng-container>

  </form-input-field>

  <form-input-field
    [formFieldGroup]="registerForm"
    [formField]="RegisterForm.LastName"
    [isInputValid]="validateLastName.valid"
    label="Last Name"
    placeholder="Doe"
    type="text">

    <ng-container *ngIf="!validateLastName.valid">
      <app-validation-message [message]="validateLastName.message!"/>
    </ng-container>

  </form-input-field>

  <form-input-field
    [formFieldGroup]="registerForm"
    formField="email"
    label="Enter Email"
    placeholder="user@domain.com"
    type="email"/>

  <form-input-field
    [formFieldGroup]="registerForm"
    [formField]="RegisterForm.Password"
    [isInputValid]="validatePassword.valid"
    label="Password"
    placeholder="********"
    type="password">

    <ng-container *ngIf="!validatePassword.valid">
      <app-validation-message [message]="validatePassword.message!"/>
    </ng-container>

  </form-input-field>

  <button-primary label="Register"/>

  <div class="notice">
    <span>Already have an account?</span>
    <a routerLink="/login">Login</a>
  </div>

</form-general>
