<div class="sidebar">
  <h2 class="sidebar__title">Item Categories</h2>

  <ul class="sidebar__list">
    @for (category of categories(); track category.id) {
      <div class="sidebar__menu sidebar__menu--category">
        <li class="sidebar__menu__item"
            [ngClass]="{'active' : isCategoryIncluded(category.name)}"
            (click)="toggleCategory(category.name)">
          {{ category.name }}
        </li>
        <img (click)="menuSelection(category.id)"
             class="sidebar__menu__icon"
             [ngSrc]="openMenu === category.id ? 'assets/icons/remove.svg' : 'assets/icons/add.svg'"
             alt="Open subcategory window"
             height="18"
             width="18"/>
      </div>

      @if (openMenu === category.id) {
        <ul class="sidebar__list">
          @for (subcategory of category.subcategories; track subcategory.id) {
            <div class="sidebar__menu sidebar__menu--subcategory">
              <app-checkbox [isActive]="isSubcategoryIncluded(category.name, subcategory.name)"
                            (click)="toggleSubcategory(category.name, subcategory.name)"
                            [shape]="CheckboxShape.Round"/>

              <li class="sidebar__menu__item"
                  [ngClass]="{'active': isSubcategoryIncluded(category.name, subcategory.name)}"
                  (click)="toggleSubcategory(category.name, subcategory.name)">
                {{ subcategory.name }} ({{ subcategory.numberOfItems }})
              </li>
            </div>
          }
        </ul>
      }
    }
  </ul>

</div>
