@use "typography";
@use "colors";

.sidebar {
  border: 1px solid colors.$neutral-light-grey;
  display: grid;
  gap: 3.2rem;
  padding: 2.4rem;

  &__title {
    @extend .font-size-regular;
    color: colors.$primary;
    text-transform: uppercase;
    @extend .font-semi-bold;
  }

  &__list {
    display: grid;
    gap: 1.6rem;
    list-style: none;
  }

  &__menu {
    align-items: center;
    display: flex;

    &--category {
      justify-content: space-between;
    }

    &--subcategory {
      gap: 1.2rem;
      margin-left: 0.8rem;
    }

    &__item {
      user-select: none;

      &:hover {
        cursor: pointer;
      }
    }

    &__icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.active {
  color: colors.$primary;
  @extend .font-semi-bold;
}
